.btn-form {
    display: grid;
    width: 31.38vw;
    max-width: 620px;
    height: 70px;
    background-color: #000;
    border-radius: 15px;
    color: #6C63FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.18rem;
    text-align: center !important;
    padding-top: 0.63rem;
    padding-bottom: 0.63rem;
    border: 0;
    margin: 0 auto;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .btn-form {
        font-size: 2.10rem;
    }
}

@media only screen and (max-width: 992px) {
    .btn-form {
        font-size: 1.95rem;
    }
}

@media only screen and (max-width: 768px) {
    .btn-form {
        font-size: 1.80rem;
    }
}

@media only screen and (max-width: 576px) {
    .btn-form {
        font-size: 1.4rem;
       
    }
}
