.btn-form {
    display: grid;
    width: 31vw;
    height: 9vh;
    background-color: #000;
    border-radius: 15px;
    color: #6C63FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.18rem;
    text-align: center !important;
    padding-top: 0.62rem;
    padding-bottom: 0.62rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
    .btn-form {
        padding-top: 0.31rem;
        padding-bottom: 0.31rem;
    }
}

@media only screen and (max-width: 1200px) {
    .btn-form {
        height: 8vh;
    }
}