.main {
  margin: 0;
}

.main-image {
  margin-top: 13.43rem;
  margin-left: 6.75rem;
  margin-right: 7.62rem;
}

.intro {
  display: flex;
  align-items: center;
}


@media only screen and (max-width: 1400px) {
  .main-image {
    width: 36vw;
    height: 58vh;
    margin-top: 12rem;
  }
}



/*
@media only screen and (max-widht: 576px) {

  .intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "text" 
    "img";
    flex-direction: column;
  }

  .main-image {
    width: 250px;
    height: 203px;
    margin-top: 0;
    margin-left: 35px;
    margin-right: 0;
    grid-area: img;
  }

}
*/