.alignment{
    display: flex;
    justify-content: center;
    padding-bottom: 6.88rem;
}

#how-many, #how-long, #email{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 31.37rem;
    height: 4.37rem;
    border: 3px solid #6C63FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 3rem;
}

.mgInput {
    margin-top: 7.81rem;
}

@media only screen and (max-width: 1200px) {
    #how-many, #how-long, #email{
        width: 28rem;
        height: 3.70rem;
    }
    
}



