.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .main-header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "title" 
        "nav";
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
    }
    
   
}