.main {
  margin: 0;
  
}

.main-image {
  margin-top: 215px;
  margin-left: 108px;
  margin-right: 120px;
}

.intro {
  display: flex;
  align-items: center;
}

@media only screen and (max-device-width: 320px) and (max-height: 1790px) {

  .intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "text" 
    "img";
    flex-direction: column;
  }

  .main-image {
    width: 250px;
    height: 203px;
    margin-top: 0;
    margin-left: 35px;
    margin-right: 0;
    grid-area: img;
  }

}