.main-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.5rem;
    margin-left: 6.75rem;
    margin-top: 3.82rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-title.-second {
    text-shadow: none;
    text-align: center;
    padding-top: 10rem;
    padding-right: 13.37rem;
}

.main-title.-second.-noPd {
    margin: 0;
    padding: 0;
    margin-top: 11.62rem;
}

.main-title.-form {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-shadow: none;
    padding-top: 1.07rem;
    padding-bottom: 1.07rem;
    padding-left: 1.81rem;
    margin-top: 0;
    margin-left: 12.88rem;
    margin-right: 3.38rem;
}

.main-title.-form.-card {
    display: flex;
    text-align: center      ;
    padding: 2rem 1.75rem 2.82rem 2.38rem;
    width: 33.25rem;
    height: 19.75rem;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 7.5rem;
    margin-right: 9.12rem;
    margin-left: 0;
    overflow: hidden;
}

.main-title.-form::-moz-placeholder {
    color: #000;
    opacity: 1;
}

.main-title.-form::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
}

.main-title.-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 9.13rem;
    padding-top: 9.82rem;
    padding-bottom: 9.82rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 4.75rem;
    color: #000;
    margin: 0;
}

.main-title .color {
    color: #6C63FF;
}

@media only screen and (max-width: 1400px) {
    .main-title.-second {
        font-size: 2.8rem;
        line-height: 4.2rem;
    }

    .main-title.-form {
        font-size: 1.3rem;
        line-height: 2.15rem;
        margin-left: 11.20rem;
    }

    .main-title.-form.-card {
        font-size: 1.2rem;
    }
    
}




/*
@media only screen and (max-device-width: 320px) and (max-height: 1790px) {

.main-title {
    font-size: 36px;
    line-height: 54px;
    margin-left:0;
    margin-top: 22px;
    margin-bottom: 38px;
}

.main-title.-second {
    font-size: 36px;
    line-height: 54px;
    padding-top: 69px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
    grid-area: text;
}

.main-title.-second.-noPd {
    margin-top: 89px;
}

.main-title.-form {
    font-size: 18px;
    line-height: 27px;
    text-shadow: none;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 26px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.main-title.-form.-card {
   visibility: hidden;
}

.main-title.-footer {
    justify-content: unset;
    padding-right: 0;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 0;
    font-size: 48px;
    line-height: 72px;
    margin: 0;
    grid-area: title;
}


}
*/