.main-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.5rem;
    padding-left: 6.75rem;
    padding-top: 3.82rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-title.-second {
    text-shadow: none;
    text-align: center;
    padding-left: 0;
    padding-top: 16rem;
}

.main-title.-second.-noPd {
    margin: 0;
    padding: 0;
    padding-top: 13.63rem;
}

.main-title.-form {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-shadow: none;
    padding-top: 1.07rem;
    padding-bottom: 1.07rem;
    padding-left: 1.81rem;
    margin-top: 0;
    margin-left: 12.88rem;
    margin-right: 3.38rem;
}

.main-title.-form:focus {
    outline: none;
}

.main-title.-form.-card {
    display: flex;
    text-align: center;
    font-size: 1.3rem;
    padding: 2rem 1.75rem 2.82rem 2.38rem;
    width: 33.25rem;
    height: 19.75rem;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 7.5rem;
    margin-right: 9.12rem;
    margin-left: 0;
    overflow: hidden;
}

.main-title.-form::-moz-placeholder {
    color: #000;
    opacity: 0.7;
}

.main-title.-form::-webkit-input-placeholder {
    color: #000;
    opacity: 0.7;
}

.main-title.-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 9.13rem;
    padding-top: 9.82rem;
    padding-bottom: 9.82rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 4.75rem;
    color: #000;
    margin: 0;
}

.main-title .color {
    color: #6C63FF;
}

@media only screen and (max-width: 1400px) {
    .main-title.-second {
        font-size: 2.6rem;
        line-height: 4rem;
    }
    .main-title.-form {
        font-size: 1.2rem;
        line-height: 2.15rem;
        margin-left: 9rem;
        margin-right: 3rem;
    }
    .main-title.-form.-card {
        font-size: 1.1rem;
        line-height: 2.1rem;
        width: 32rem;
        height: 18rem;
        margin-right: 7.40rem;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .main-title.-second {
        font-size: 2.50rem;
        line-height: 3.30rem;
    }
    .main-title.-form {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-left: 7.40rem;
    }
    .main-title.-second.-noPd {
        font-size: 2.20rem;
        padding-top: 11rem;
    }
    .main-title.-form.-card {
        font-size: 1rem;
        line-height: 2rem;
        width: 30rem;
        height: 18rem;
        margin-top: 6.5rem;
        margin-right: 3.60rem;
        padding: 1.20rem 1.40rem 2.10rem 1.90rem;
    }
    .main-title.-footer {
        font-size: 4.60rem;
        padding-right: 6rem;
        padding-left: 0;
    }
}

@media only screen and (max-width: 992px) {
    .main-title {
        font-size: 2.50rem;
        line-height: 3.60rem;
        padding-left: 3.50rem;
    }
    .main-title.-second {
        font-size: 2.50rem;
        line-height: 3.60rem;
    }
    .main-title.-form {
        font-size: 1.3rem;
        line-height: 2rem;
        margin-left: 0;
        margin-right: 0;
    }
    .main-title.-form.-card {
        display: none;
    }
    .main-title.-second.-noPd {
        font-size: 2rem;
        padding-top: 12rem;
    }
    .main-title.-footer {
        font-size: 4rem;
        padding-right: 5rem;
        padding-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .main-title {
        padding-top: 2.82rem;
        padding-bottom: 1.80rem;
        font-size: 3rem;
        line-height: 3.38rem;
        padding-left: 0;
        text-align: center;
        grid-area: title;
    }
    .main-title.-second {
        font-size: 2.60rem;
        line-height: 3.38rem;
        padding-top: 7rem;
        padding-bottom: 4rem;
        grid-area: text;
    }
    .main-title.-second.-noPd {
        font-size: 2.20rem;
        padding-top: 11rem;
    }
    .main-title.-form {
        font-size: 1.30rem;
        line-height: 2rem;
        margin-left: 0;
        margin-right: 0;
        text-align: unset;
    }
    .main-title.-footer {
        grid-area: ft-title;
        font-size: 3.60rem;
        padding-right: 0;
        padding-top: 2.8rem;
        padding-bottom: 3.44rem;
    }
}

@media only screen and (max-width: 576px) {
    .main-title {
        padding-top: 1.38rem;
        padding-bottom: 2.38rem;
        font-size: 2.25rem;
    }
    .main-title.-second {
        font-size: 2.25rem;
        padding-top: 4.32rem;
        padding-bottom: 4rem;
    }
    .main-title.-second.-noPd {
        font-size: 2.25rem;
        line-height: 3.38rem;
        padding-top: 11rem;
    }
    .main-title.-form {
        font-size: 1.13rem;
        line-height: 1.69rem;
        margin-left: 0;
        margin-right: 0;
        text-align: unset;
    }
    .main-title.-footer {
        font-size: 3rem;
        line-height: 4.5rem;
        padding-top: 2.5rem;
    }
}