.nav-items {
    display: inline-flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2.25rem;
    text-decoration: none;
    padding-top: 4.88rem;
    padding-right: 1.75rem;
    color: #000;
}

.nav-items:hover {
    color: #6C63FF;
}

.nav-items.-right {
    margin-right: 6.26rem;
    padding-right: 0;
}

@media only screen and (max-width: 992px) {
    .nav-items {
        font-size: 1.2rem;
        line-height: 1.80rem;
    }
}

@media only screen and (max-width: 768px) {
    .nav-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0.60rem;
        font-size: 1.8rem;
        line-height: 2.25rem;
        padding-right: 0;
        grid-area: nav;
    }
    
    .nav-items.-right {
        margin-right: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 576px) {
    .nav-items {
        font-size: 1.5rem;
    }


}


